<footer class="footer">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="https://github.com/AjmalBukhari/Ai-Lipsync-Web-App" class="nav-link">
                    Download
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="http://127.0.0.1:5000/contact.html" class="nav-link">
                    Support
                </a>
            </li>
        </ul>
        <div class="copyright">
            &copy; <a target="_blank" href="https://ajmalpcv.blogspot.com/">Cybernation</a> - coded by Cyber.
        </div>
    </div>
</footer>
